.task-container{
    width: 190px;
    height: 210px;
    word-break: break-all;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-box{
    background-color: #4267B2;
    width: 80%;
    height: 80%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
}
.task-box:hover{
    background-color: #1877F2;
}
.task-number{
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: lighter;
}
.task-title{
    font-size: 14px;
    font-weight: lighter;
}
.task-completed{
    background-color: #028608;
}
.task-completed:hover{
    background-color: #028639;
}
@media screen and (max-width: 1250px){
    .task-container{
        width: 25%
    }
}
@media screen and (max-width: 1000px){
    .task-container{
        width: 30%
    }
}
@media screen and (max-width: 768px){
    .task-container{
        width: 50%
    }
}
@media screen and (max-width: 520px){
    .task-container{
        width: 100%
    }
}